.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #00897b;
  background: #ef5350;
  height: 60px;
  width: 100%;
  // position: fixed;
  z-index: 3;
  color: #ffffff;
  &.on-scroll {
    background: linear-gradient(
        269.93deg,
        #10af7e 0%,
        rgba(0, 219, 126, 0) 100%
      ),
      #10af7e;
  }
  .spacer {
    width: 100%;
    height: 1px;
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar {
    height: 60px;
    font-size: 16px;
    width: 1024px;
    .navbar-brand {
      font-size: unset;
      padding-top: 0;
      padding-bottom: 0;
      height: 3em;
      cursor: pointer;
      .logo {
      }
    }
    .collapse {
      z-index: 10;
      .navbar-nav {
        // margin-top: 20px;
        width: 100%;
        // hover menutop
        // overflow: hidden;

        .dropdown {
          .dropdown-item {
            border-radius: unset;
            cursor: pointer !important;
          }
        }

        .nav-item {
          // add css border-radius
          height: 40px;
          // background-color: rgb(250, 250, 250);
          background-color: transparent;

          border: 1px solid none;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 10px;
          border-radius: 20px;
          .dropdown-container {
            left: 23px !important;
            top: 36px;
            margin-top: 0 !important;
            border: none;
            background-color: var(--ds-background-overlay, #ffffff);
            border-radius: 3px;
            box-shadow: var(
              --ds-overlay,
              0 4px 8px -2px rgba(9, 30, 66, 0.25),
              0 0 1px rgba(9, 30, 66, 0.31)
            );
          }

          .nav-link {
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            min-width: 7em;
            text-align: center;
            font-size: 1em;

            &:hover {
              color: #fff;
              background: rgba(255, 255, 255, 0.2);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0F0F0, endColorstr=#F0F0F0);
              -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F0F0F0, endColorstr=#F0F0F0)";
              border-radius: 5px;
              width: 100%;
              position: relative;
            }

            &:hover + .dropdown-container {
              top: 36px;
              position: absolute;
              display: block;
              z-index: 100;
              border: none;
              background-color: var(--ds-background-overlay, #ffffff);
              border-radius: 3px;
              box-shadow: var(
                --ds-overlay,
                0 4px 8px -2px rgba(9, 30, 66, 0.25),
                0 0 1px rgba(9, 30, 66, 0.31)
              );
            }
            &.active {
              content: "";
              border-bottom: 2px solid #fff;
              // border-bottom-width: 50%;
              display: inline-block;
              height: 38px;
              transition: all ease-in-out 400ms;
              color: #fff;
            }
            &.actived {
              content: "";
              border-bottom: 2px solid #fff;
              display: inline-block;
              height: 38px;
              transition: all ease-in-out 400ms;
              color: #fff;
            }
          }

          .user-container {
            width: fit-content;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .avatar {
              max-width: 40px;
              width: 3em;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
            .user-name {
              color: #ffffff;
              font-weight: 600;
              font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
              display: flex;
              align-self: center;
              letter-spacing: 1px;
            }
          }
        }
        .nav-item.right {
          margin-left: auto;
          .nav-link {
            padding-right: 10px;
          }
        }
      }

      .btn-outline-primary {
        border: 0;
        padding: 10px 15px;
        min-width: 125px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
      }
      .btn-outline-primary:hover {
        background: rgba(255, 255, 255, 0.3);
      }
      .user-container-lg {
        .user-button {
          display: flex;
          align-items: baseline;
          padding: 0;

          .user-container {
            width: 100%;
            display: flex;
            flex-flow: row;
            .balance {
              display: flex;
              font-size: 0.9rem;
              justify-content: flex-end;
            }
            .avatar {
              max-width: 40px;
              width: 3em;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .user-name {
              color: #ffffff;
              font-weight: 600;
              font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
              display: flex;
              align-self: center;
              padding-left: 10px;
            }
          }
        }
        .dropdown-toggle::after {
          color: #ffffff;
        }
        .dropdown-container {
          // left: unset !important;
          right: 0;
          padding: 0;
          width: 100%;
          min-width: 150px;
          z-index: 100;
          .btn {
            width: 100%;
            // text-align: left !important;
          }
        }
      }
    }
  }
}

.language-btn {
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem;
  width: 1.75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}

@media only screen and (max-width: 768px) {
  .header-container .navbar .collapse {
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    .user-container-lg {
      display: none;
    }
    .btn-outline-primary {
      margin-bottom: 10px;
      width: 100%;
      max-width: 200px;
    }
  }
  .header-container .navbar .collapse .navbar-nav .nav-item.right {
    margin-left: 0;
  }
  .header-container .navbar .collapse .navbar-nav .nav-item .user-container {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header-container {
    .navbar .collapse {
      background-color: #036663;
      .btn-outline-primary {
        max-width: unset;
      }
    }
    .pop-content-container {
      flex-flow: column;
      .btn {
        margin-right: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .navbar {
      .region-selections .region-button {
        // width: auto;
        margin-left: 20px;
        margin-bottom: 10px;
      }
      .collapse .navbar-nav .nav-item .user-container .user-name {
        margin-left: 20px;
      }
    }
  }
}

.active-nav {
  color: #00897b;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: orange;
  position: initial;
  bottom: 5px;
}

@media only screen and (max-width: 1050px) {
  .header-container {
    .navbar {
      font-size: 14px !important;
    }
  }
}

@media only screen and (max-width: 900px) {
  .header-container {
    .navbar {
      font-size: 12px !important;
    }
  }
}
